body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 16px;
  color: #1a1a1a;
  background-color: lightgray !important;
}

.navbar {
  background-color: #F9A23E;
}

.main-home {
  display: grid;
  grid-template-columns: 65% 35%;
}

.main-logo {
  max-width: 200px;
  border-radius: 10px;
}

/* .post-container {
  border: solid;
} */

.daily-post {
  height: 400px;
  position: relative;
  background-color: black;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  display: grid;
  grid-template-rows: 50% 50%;
  margin: 25px 25px 0px 25px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.main-article-image {
  max-width: 100%;
  max-height: 100%;
  z-index: -1;
}

.top-news-heading {
  height: 100%;
  position: relative;
}

/* .top-news-desc {
  display: none;
} */

.top-news-title a {
  text-decoration: none;
}

.top-news-title:hover {
  color: #F9A23E;
}

.top-news-heading:hover + .top-news-desc {
  display: inline;
}

.top-news-desc p {
  position: relative;
  bottom: -125px;
  height: 75px;
  background-color: #1D1D1D;
  color: lightgray;
  padding: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  opacity: 80%;
}

.top-news-title {
  margin: 10px;
  background-color: #1D1D1D;
  color: #EAFDF8;
  padding: 5px;
  max-height: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.other-stories {
  height: 200px;
  background-color: white;
  position: relative;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  display: grid;
  grid-template-columns: 300px 300px 300px 300px 300px;
  margin: 25px 25px 0px 25px;
  overflow: scroll;
}

.other-stories a {
  text-decoration: none;
}

.other-title:hover {
  color: #F9A23E;
}

.other-image {
  background-color: black;
  background-size: contain;
  background-repeat: no-repeat;
  max-height: 100%;
  max-width: 100%;
  background-position: center;
  margin: 5px;
}

.other-title {
  margin: 10px;
  background-color: #1D1D1D;
  color: #EAFDF8;
  padding: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.fav-racer {
  height: 300px;
  background-color: #edf7fa;
  position: relative;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  display: flex;
  margin: 25px 25px 0px 25px;

}

.join-disc {
  height: 300px;
  background-color: #edf7fa;
  position: relative;
  margin: 25px;
  top: -100px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  display: grid;
  grid-template-rows: 20% 80%;
  margin: 25px 25px 0px 25px;
}

.random-post-container a {
  text-decoration: none;
  color: black;
}

.random-post-title {
  padding: 10px;
  border-bottom: solid;
  margin-right: 20px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
}

.random-post-content {
  padding: 10px;
}

.random-post-content:hover {
  color: #F9A23E;
}

.disc-post {
  min-height: 150px;
  max-height: 250px;
  background-color: #edf7fa;
  position: relative;
  margin: 25px;
  padding: 10px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-disc {
  display: grid;
  grid-template-columns: 65% 35%;
}

.create-post {
  height: 300px;
  background-color: #edf7fa;
  position: relative;
  margin: 25px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  display: flex;
}

.browse-post {
  height: 150px;
  background-color: #edf7fa;
  position: relative;
  margin: 25px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-browse {
  display: grid;
  grid-template-columns: 100%;
}

.main-cart {
  display: grid;
  grid-template-columns: 65% 35%;
}

.user-cart {

  min-height: 300px;
  max-height: 500px;

  background-color: #edf7fa;
  position: relative;
  margin: 25px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  display: flex;
}

.cart-items-container {
  overflow: scroll;
  max-height: 350px;
}

.news-post {
  height: 150px;
  background-color: white;
  position: relative;
  margin: 25px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  display: grid;
  grid-template-columns: 20% 80%;
}

.cart-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  background-color: white;
}

.total-price {
  display: flex;
  justify-content: space-between
}

.total-price h2 {
  padding: 5px;
}

.payment-main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  width: 100%;
  background-color: white;
}

.news-image {
  max-width: 100%;
  max-height: 150px;
}

.cart-items{
  font-weight: bolder;
  padding: 10px;
  margin: 10px;
  font-size: 20px;
}

.cart-items li {
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  padding: 10px;
  margin: 10px;
}

.article-image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  max-height: 150px;
}

.news-content {
  padding: 10px;
}

.news-content a {
  text-decoration: none;
  color: black;
}

.article-title:hover {
  text-decoration: none;
  color: #F9A23E;
}

.article-info {
  padding: 10px;
}

.article-created {
  color: gray;
  position: relative;
  top: 20px;
}

.disc-title {
  margin-left: 30px;
  margin-top: 20px;
}

.news-title {
  margin-left: 30px;
  margin-top: 20px;
}

.donate-field {
  height: 300px;
  background-color: #edf7fa;
  position: relative;
  margin: 25px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  display: flex;
}

.donate-title {
  margin-left: 30px;
  margin-top: 20px;
}

.donate-post {
  height: 150px;
  background-color: #edf7fa;
  position: relative;
  margin: 25px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.prod-listing {
  min-height: 175px;
  max-height: 250px;
  background-color: white;
  position: relative;
  margin: 25px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  display: grid;
  grid-template-columns: 70% 30%;
}

.prod-info {
 display: grid;
 grid-template-columns: 70% 30%;
 padding: 20px;
 grid-gap: 10px;
}

.prod-list-image {
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 175px;
  max-height: 175px;
  min-width: 250px;
}

.add-cart-btn {
  height: 30px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.bi {
  position: relative;
  top: -25px;
}

.login-btn {
  width: 150px;
}

#schedule-container {
  background-image: url('/updated-formula-1-2023-race-calendar-v0-lqd0wi640i4a1.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.racers-heading a{
  text-decoration: none;
}

#racers-container {
  background-image: url('/f1racers-image.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

.racers-title {
  background-color: black;
  color: white;
  padding: 10px;
}

#circuit-image {
  background-image: url('/circuit-screenshot.png');
  background-repeat: no-repeat;
  background-size: cover;
}

#teams-image {
  background-image: url('/teams\ screenshot.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: white;
}

.schedule-main {
  display: flex;
  flex-direction: column;

}

.RaceSchedule {
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  margin: 10px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-size: 20px;
}